/* Ajoute les styles de base de Tailwind */
@tailwind base;

/* Ajoute les composants Tailwind */
@tailwind components;

/* Ajoute les utilitaires Tailwind */
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

body {
  font-family: "Caprasimo", sans-serif;
}

* {
  box-sizing: border-box;
  overflow: auto;
  font-weight: lighter;
}

/* Commun ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////// BODY ///////////// */

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #b70000;
  overflow-x: hidden;
}

/* Bande rouge en haut à droite */
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 38vw;
  background-color: #b70000;
  z-index: 2;
}

body::after {
  content: "";
  position: absolute;
  top: 36vw;
  right: 0;
  width: 10px;
  bottom: 52vw;
  background-color: #023474;
  z-index: 2;
  pointer-events: none;
  z-index: 10;
}

/* ///////// HEADER ///////////// */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vw;
  background-color: white;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  margin-top: linear-gradient(
    to right,
    rgba(2, 52, 116, 1) 40%,
    white 30%,
    white 60%,
    rgba(183, 0, 0, 1) 60%
  );
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.header-logo img {
  width: 20vw;
  height: auto;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(2, 52, 116, 1) 30%,
    transparent 30%,
    transparent 70%,
    rgba(183, 0, 0, 1) 70%
  );
}

.header-image img,
.menu-icon {
  width: 25%;
  height: auto;
  margin-top: 3vw;
}

.custom-link-rouge {
  font-family: caprasimo;
  color: rgba(183, 0, 0, 1);
  font-size: x-large;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-link-blanc {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5vw;
}

.custom-link-bleu {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: x-large;
  text-decoration: none;
  margin-top: 10vw;
}

/* ///////// FOOTER ///////////// */

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-top: 0;
}

p {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: large;
}

.footer-icons {
  display: flex;
  gap: 50px;
  margin-bottom: 5vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
}

.footer-icons img {
  width: 50px;
  height: 50px;
}

.img-top-footer {
  justify-content: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  margin-bottom: -2vw;
  margin-left: 15%;
}

/* Bande bleue à gauche */
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #023474; /* Bleu */
  z-index: 1;
}

/* Bande rouge à droite */
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #b70000; /* Rouge */
  z-index: 1;
}

/* Bande horizontale en bas */
.footer-bottom-bar {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    #023474 33.33%,
    white 33.33%,
    white 66.66%,
    #b70000 66.66%
  );
}

/* ///////// FONT - POLICE ///////////// */
p {
  font-family: poppins;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-align: center;
  margin-left: 5vw;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h2 {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: xx-large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  margin-top: 3vw;
}

h3 {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  margin-top: 3vw;
}

/* ///////// MATCH A VENIR API ///////////// */

#prochain-match {
  font-family: caprasimo, sans-serif;
  color: #fff;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prochain-match img {
  width: 20vw;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  margin-inline: 5vw;
  margin-top: 5vw;
}

#prochain-match .league-logo {
  width: 20vw;
  height: auto;
  margin: -5vw;
}

#prochain-match .match-header {
  -moz-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
  font-size: 1.5rem;
  font-weight: 1;
  margin-bottom: 15px;
}

#calendrier-link {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: 1rem;
  text-decoration: none;
  margin-top: 10vw;
}

.img-arrondie {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  border-radius: 60% / 100%;
  overflow: hidden;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: 270px;
}

/* ///////// MENU  ///////////// */

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bd1616;
  color: bd1616;
  display: none;
  z-index: 100;
  overflow-y: auto;
}

.custom-shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  z-index: 0;
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
}

#menu.visible {
  display: block;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-header .menu-logo {
  height: 25vw;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-button {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content ul li {
  margin: 1rem 0;
}

.menu-content ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.menu-footer img {
  height: 30px;
}

.hidden-content #main-content {
  display: none;
}

.hidden-content footer {
  display: block;
}

.hidden-content header {
  display: block;
}

.hidden {
  display: none !important;
}

/* /////////////////// CAROUSEL ///////////////////////// */

.carousel-wrapper {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  border-radius: 60% / 100%;
  overflow: hidden;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: 270px;
}

.carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.95) translateY(10px);
  transition: opacity 0.8s ease-in-out,
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 2;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ///////////////// Flèches carousel ////////////////// */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-btn img {
  width: 12vw;
  height: 12vw;
  transition: transform 0.3s ease;
}

.carousel-btn:hover img {
  animation: electric-glow 0.8s ease-in-out infinite;
  transform: scale(0.9);
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

/* fin Commun ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Mobile ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 740px) {
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-color: white;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  }

  .header-logo img {
    width: 30%;
    margin-left: 36%;
    height: auto;
    margin-bottom: 5%;
  }

  .footer-icons img {
    width: 50px;
    height: 50px;
  }
}
