---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import FooterMenu from "../components/FooterMenu.astro";

const matchTeams = [
  {
    src: "https://media.api-sports.io/football/teams/42.png",
    alt: "Logo Arsenal",
  },
  {
    src: "https://media.api-sports.io/football/teams/47.png",
    alt: "Logo Tottenham",
  },
];

const carouselItems = [
  {
    src: "/assets/1.webp",
    alt: "Collection Adidas Arsenal - France",
  },
  {
    src: "/assets/2.webp",
    alt: "Adversaires Ligue des Champions",
  },
];
---
<Layout>
  <Header />
  <!-- <Menu /> -->

  <section id="prochain-match"></section>


  <!-- Actualités -->
  <section class="text-center py-6">
    <h2>Actualité</h2>
    <h3 id="carousel-title" class="text-lg mt-2">Tirage au sort de la Ligue des Champions</h3>

    <!-- Carousel -->
     
    <div id="carousel" class="relative w-11/12 max-w-4xl mx-auto mt-4" data-carousel="static">
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        {carouselItems.map((item, index) => (
          <div
            class={`hidden duration-700 ease-in-out ${
              index === 0 ? "block" : ""
            }`}
            data-carousel-item="true"
          >
            <img src={item.src} class="block w-full h-full object-cover" alt={item.alt} />
          </div>
        ))}
      </div>

      <!-- Slider controls -->
      <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4" data-carousel-prev>
        <img src="/assets/left arrow.png" alt="Previous" class="w-6 h-6" />
        <span class="sr-only">Précédent</span>
      </button>
      <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4" data-carousel-next>
        <img src="/assets/right arrow.png" alt="Next" class="w-6 h-6" />
        <span class="sr-only">Suivant</span>
      </button>
    </div>
  </section>

  <!-- Réservation -->
  <section class="text-center py-6">
    <h2 class="text-3xl mt-4">Réservation 2024/25</h2>
    <img class="img-arrondie mx-auto mt-4" src="/assets/Emirates_Stadium.JPG" />
  </section>

  <!-- Inscription -->
  <section class="text-center">
    <h2 class="text-2xl">Inscription 2024/25</h2>
    <a href="#" class="custom-link-blanc block mt-2">Rejoins l'équipe ici</a>
    <img src="/assets/players.png" alt="Joueurs Arsenal" class="mx-auto mt-4" />
  </section>

  <!-- Footer -->
  <Footer />
  <!-- <FooterMenu /> -->
</Layout>
