---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import FooterMenu from "../components/FooterMenu.astro";

const matchTeams = [
  {
    src: "https://media.api-sports.io/football/teams/42.png",
    alt: "Logo Arsenal",
  },
  {
    src: "https://media.api-sports.io/football/teams/47.png",
    alt: "Logo Tottenham",
  },
];

const carouselItems = [
  {
    src: "/assets/2.webp",
    alt: "Collection Adidas Arsenal - France",
  },
  {
    src: "/assets/1.webp",
    alt: "Adversaires Ligue des Champions",
  },
];
---
<Layout>
  <Header />
  <!-- <Menu /> -->

  <section id="prochain-match"></section>


<!-- Actualités -->
<section class="text-center py-6">
  <h2>Actualité</h2>
  <h3 id="carousel-title" class="text-lg mt-2">Tirage au sort de la Ligue des Champions</h3>

  <div id="carousel" class="carousel-wrapper">
    <div class="carousel-inner">
      {carouselItems.map((item, index) => (
        <div
          class={`carousel-item ${index === 0 ? 'active' : ''}`}
          data-carousel-item="true"
        >
          <img src={item.src} alt={item.alt} />
        </div>
      ))}
    </div>

    <!-- Flèches -->
    <button type="button" class="carousel-btn left" data-carousel-prev>
      <img src="/assets/left-arrow.png" alt="Précédent" />
    </button>
    <button type="button" class="carousel-btn right" data-carousel-next>
      <img src="/assets/right-arrow.png" alt="Suivant" />
    </button>
  </div>
</section>


<a href="/reservation">
  <section class="text-center py-6 cursor-pointer hover:opacity-90 transition-opacity duration-300">
    <h2 class="text-3xl mt-4">Réservation 2024/25</h2>
    <img class="img-arrondie mx-auto mt-4" src="/assets/Emirates_Stadium.JPG" alt="Emirates Stadium" />
  </section>
</a>


  <!-- Inscription -->
  <section class="text-center">
    <h2 class="text-2xl">Inscription 2024/25</h2>
    <a href="#" class="custom-link-blanc block mt-2">Rejoins l'équipe ici</a>
    <img src="/assets/players.png" alt="Joueurs Arsenal" class="mx-auto mt-4" />
  </section>

  <!-- Footer -->
  <Footer />
  <!-- <FooterMenu /> -->
</Layout>
