<header class="header">
  <!-- Forme visuelle blanche -->
  <div class="custom-shape"></div>

  <!-- Contenu par-dessus -->
  <div class="header-content relative z-10 text-center">
    <a href="/">
      <div class="header-logo img">
        <img src="/assets/logo.jpg" alt="Arsenal Supporter Club France" />
      </div>
    </a>
    <a href="#" class="custom-link-rouge text-2xl" id="menu-button">
      Menu
      <img src="/assets/Menu.jpg" alt="Menu Icon" class="menu-icon mt-2 scale-150" />
    </a>
  </div>
</header>
