<section class="py-6">
  <div class="max-w-md mx-auto px-4 text-center">
    <!-- Vidéo avec ID pour la cibler -->
    <video
      id="video-reservation"
      src="/assets/tuto-reservation.mp4"
      controls
      class="mt-4 sm:w-full md:w-[80vw] lg:w-[80vw] rounded-3xl border border-white"
    ></video>
  </div>
</section>
