---
// Layout astro global : structure HTML + head + CSS + scripts externes
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASCFR</title>
    <link rel="icon" type="image/x-icon" href="/assets/ars.ico" />
    <link href="/style.css" rel="stylesheet" />

    <!-- Police Google-Font -->
    <link href="https://fonts.googleapis.com/css2?family=Caprisimo&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">


    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js" defer></script>

    <!-- Tailwind & Flowbite -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js" defer></script>
  </head>

  <body>
    <slot />
    <script type="module" src="/script.js"></script>
  </body>
</html>